
<table>
  <tr>
    <th></th>
    <th>Desktop</th>
    <th>Mobile</th>
    <th>Tablet</th>
  </tr>

  <tr *ngFor="let deviceOs of DeviceOss" class="row-os">
    <th>
      {{deviceOs.name}}
    </th>
    <td>
      <fs-device-os
        [type]="DeviceType.Desktop"
        [os]="deviceOs.type">
      </fs-device-os>
    </td>
    <td>
      <fs-device-os
        [type]="DeviceType.Mobile"
        [os]="deviceOs.type">
      </fs-device-os>
    </td>
    <td>
      <fs-device-os
        [type]="DeviceType.Tablet"
        [os]="deviceOs.type">
      </fs-device-os>
    </td>
  </tr>
  
  <tr class="row-os">
    <th>
      Unknown
    </th>
    <td>
      <fs-device-os
        [type]="DeviceType.Desktop"
        [os]="null">
      </fs-device-os>
    </td>
    <td>
      <fs-device-os
        [type]="DeviceType.Mobile"
        [os]="null">
      </fs-device-os>
    </td>
    <td>
      <fs-device-os
        [type]="DeviceType.Tablet"
        [os]="null">
      </fs-device-os>
    </td>
  </tr>

</table>
