
<table>
  <tr>
    <th></th>
    <th>Desktop</th>
    <th>Mobile</th>
    <th>Tablet</th>
  </tr>

  @for (deviceOs of DeviceOss; track deviceOs) {
    <tr class="row-os">
      <th>
        {{deviceOs.name}}
      </th>
      <td>
        <fs-device-os
          [type]="DeviceType.Desktop"
          [meta]="{identifier: { value: '342rew234rew234' },available:true,platform:'iOS',version:'16.0.2',uuid:'DFC7D4B8-250F-4D88-A9A2-E302B2B7107E',cordova:'6.3.0',model:'iPhone12,5',manufacturer:'Apple',isVirtual:false,serial:'unknown',isiOSAppOnMac:false,userAgent:'Mozilla/5.0 (iPhone; CPU iPhone OS 16_0_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148',timezone:'America/Toronto'}"
          [os]="deviceOs.type"
          [version]="'10.0'">
        </fs-device-os>
      </td>
      <td>
        <fs-device-os
          [type]="DeviceType.Mobile"
          [os]="deviceOs.type"
          [version]="'10.0'">
        </fs-device-os>
      </td>
      <td>
        <fs-device-os
          [type]="DeviceType.Tablet"
          [os]="deviceOs.type"
          [version]="'10.0'">
        </fs-device-os>
      </td>
    </tr>
  }

  <tr class="row-os">
    <th>
      Unknown
    </th>
    <td>
      <fs-device-os
        [type]="DeviceType.Desktop"
        [os]="null">
      </fs-device-os>
    </td>
    <td>
      <fs-device-os
        [type]="DeviceType.Mobile"
        [os]="null">
      </fs-device-os>
    </td>
    <td>
      <fs-device-os
        [type]="DeviceType.Tablet"
        [os]="null">
      </fs-device-os>
    </td>
  </tr>
</table>

Unknown OS & Uknown Device
<fs-device-os
  [type]="null"
  [os]="null">
</fs-device-os>
