@if (showName) {
  <div class="icon-name">
    <ng-container *ngTemplateOutlet="icon"></ng-container>
    <div class="name">{{ DeviceOss[os] || 'Unknown' }}</div>
  </div>
} @else {
  <fs-popover [template]="popover" theme="dark" size="small" [indication]="false">
    <div
      class="icon"
      [ngClass]="[ 'device-' + (type || 'unknown') , 'os-' + (os || 'unknown') ]" >
      <img class="device" [src]="'/assets/device/devices/' + (type || 'unknown') + '.svg'">
      <img class="os" [src]="'/assets/device/os/' + (os || 'unknown') + '.svg'">
    </div>
  </fs-popover>
}

<ng-template #icon>
  <fs-popover [template]="popover" theme="dark" size="small" [indication]="false">
    <div
      class="icon"
      [ngClass]="[ 'device-' + (type || 'unknown') , 'os-' + (os || 'unknown') ]" >
      <img class="device" [src]="'/assets/device/devices/' + (type || 'unknown') + '.svg'">
      <img class="os" [src]="'/assets/device/os/' + (os || 'unknown') + '.svg'">
    </div>
  </fs-popover>
</ng-template>

<ng-template #popover>
  <div>
    {{(DeviceOss[os] || 'Unknown') + (version ? ' ' + version : '')}}
  </div>
  <fs-device-os-meta [meta]="meta"></fs-device-os-meta>
</ng-template>