<div class="icon-name" *ngIf="showName; else icon">
  <ng-container *ngTemplateOutlet="icon"></ng-container>
  <div class="name">{{ DeviceOss[os] || 'Unknown' }}</div>
</div>

<ng-template #icon>
  <fs-popover [template]="popover" theme="dark" size="small" [indication]="false">
    <div 
        class="icon" 
        [ngClass]="[ 'device-' + type, 'os-' + os ]" >
      <img *ngIf="type" class="device" [src]="'/assets/@firestitch/device/devices/' + type + '.svg'">
      <img class="os" [src]="'/assets/@firestitch/device/os/' + (os || 'unknown') + '.svg'">
    </div> 
  </fs-popover>
</ng-template>

<ng-template #popover>
  {{(DeviceOss[os] || 'Unknown') + (version ? ' ' + version : '')}}
  <div *ngFor="let item of metas">
    {{item.name}}: {{item.value}}
  </div>
</ng-template>