<div class="icon-name" *ngIf="showName; else icon">
  <ng-container *ngTemplateOutlet="icon"></ng-container>
  <div class="name">{{ DeviceOss[os] || 'Unknown' }}</div>
</div>

<ng-template #icon>
  <div 
      class="icon" 
      [ngClass]="[ 'device-' + type, 'os-' + os ]" 
      [matTooltip]="(DeviceOss[os] || 'Unknown') + (version ? ' ' + version : '')">
    <img *ngIf="type" class="device" [src]="'/assets/@firestitch/device/devices/' + type + '.svg'">
    <img class="os" [src]="'/assets/@firestitch/device/os/' + (os || 'unknown') + '.svg'">
  </div>  
</ng-template>