<ng-container *ngIf="showName && showIcon">
  <div class="icon-name">
    <ng-container *ngTemplateOutlet="icon"></ng-container>
    <span class="name"><ng-container *ngTemplateOutlet="name"></ng-container></span>
  </div>
</ng-container>

<ng-container *ngIf="showName && !showIcon">
  <ng-container *ngTemplateOutlet="name"></ng-container>
</ng-container>

<ng-container *ngIf="!showName && showIcon">
  <ng-container *ngTemplateOutlet="icon"></ng-container>
</ng-container>

<ng-template #icon>
  <img
    *ngIf="type"
    [matTooltip]="(deviceBrowser?.name || 'Unknown') + (version ? ' ' + version : '')"
    [style.width]="iconSize + 'px'"
    class="icon"
    src="/assets/@firestitch/device/browsers/browser_{{ deviceBrowser?.type || 'unknown' }}.svg">
</ng-template>

<ng-template #name>
  {{ deviceBrowser?.name || 'Unknown' }}
</ng-template>
